@{
  Layout = "_Layout";
}
@using Pierre.Models;

<div class="container" id="full-container">
<h1>Welcome to Pierre Treats</h1>
<hr />


<div class="container" id="flavor-container">
  <div class="row">
    <h3>Flavors </h3>
    <hr />
    @if (Model["flavors"].Length == 0)
    {
      <p>No Flavors have been added yet!</p>
    }
    @foreach (Flavor flavor in Model["flavors"])
    {
      <div class="col">
        <button class="flavor-button" role="button">@Html.ActionLink(@flavor.FlavorName, "Details", "Flavors", new
            {
              id =
        @flavor.FlavorId
            })</button>
      </div>
      }
  </div>
  <br />
      @if (User.Identity.IsAuthenticated)
  {
    <button type="button" class="btn btn-outline-warning btn-lg">@Html.ActionLink("View Flavors", "Index", "Flavors")</button>
    <br />
  }
  else
  {
    <button class="flavor-button" role="button">@Html.ActionLink("View Flavors", "LogIn", "Account", new { errorMessage = "Please log in to access this page" })
    </button>
    }
</div>

<br />
<div class="container" id="treat-container">
  <div class="row">
  <h3>Treats </h3>
  <hr />
  @if (Model["treats"].Length == 0)
  {
    <p>No Treats have been added yet!</p>
  }
  @foreach (Treat treat in Model["treats"])
  {
    <div class="col-md-4">
      <div class="card" id="treat-card">
        <h5 class="card-header">@treat.TreatName</h5>
        <p class="card-text">@treat.Description</p>
        <button class="btn btn-outline-warning">@Html.ActionLink(@treat.TreatName, "Details", "Treats", new
            {
              id =
        @treat.TreatId
            })</button>
      </div>
    </div>
  }

  <br />
  
  @if (User.Identity.IsAuthenticated)
  {
    <button type="button" class="btn btn-outline-warning btn-lg">@Html.ActionLink("View Treats", "Index", "Treats")</button>
    <br />
  }
  else
  {
    <button class="flavor-button" role="button">@Html.ActionLink("View Treats", "LogIn", "Account", new { errorMessage = "Please log in to access this page" })
    </button>

    
  } 
  <br />
  </div>
</div>


</div>