@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<div class="card-body">
<h2>Add an Flavor</h2>

<h4>Add a Flavor to this Treat:  @Html.DisplayFor(model => model.TreatName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select an Flavor")
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Save" />
}
<br />
</div>
<br />
<button type="button" class="btn btn-outline-warning btn-lg">@Html.ActionLink("Back to Treat list", "Index", "Treats")</button>