@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<div class="container" id="add-container">
<h2 id="title">Add a Flavor</h2>
<hr />

<h4>Add a Flavor to this Treat:  @Html.DisplayFor(model => model.TreatName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)

  @Html.Label("Select an Flavor: ")
  
  @Html.DropDownList("FlavorId")
  <input type="submit" value="Save" class="btn btn-light"/>
}


<br />
<button class="flavor-button" role="button">@Html.ActionLink("Back to Treat list", "Index", "Treats")</button>

</div>