@{
  Layout = "_Layout";
}

@model Pierre.Models.Treat

<div class="container" id="add-container">
<h4 id="title">Add a new Treat</h4>
<hr />
<p>@Html.ValidationMessageFor(model => model.TreatName,  "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.TreatId)
  <div class="form-group">
  @Html.LabelFor(model => model.TreatName)
  :<br />
  @Html.TextBoxFor(model => model.TreatName)
  </div>
  <br />
  <div class="form-group">
  @Html.LabelFor(model => model.Description)
  :<br />
  @Html.TextAreaFor(model => model.Description)
  </div>
  <br />

  <input type="submit" value="Add new treat" class="btn btn-outline-dark"/>
}
<br />
<button class="flavor-button" role="button">@Html.ActionLink("Show all treats", "Index")</button>
</div>