@{
  Layout = "_Layout";
}

@model Pierre.Models.Flavor

<div class="container" id="flavor-container2">
<h2 id="title">Edit</h2>
<hr />

<h4>Edit this flavor: @Html.DisplayFor(model => model.FlavorName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.FlavorId)

  @Html.LabelFor(model => model.FlavorName) 
  @Html.EditorFor(model => model.FlavorName) 


  <input type="submit" value="Save" class="btn btn-outline-dark"/>
}
<br />
<button class="flavor-button" role="button">
@Html.ActionLink("Back to list", "Index")</button>
</div>